# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook
.ipynb_checkpoints



# VS Code / IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Data / Model files
data/
*.csv
*.json
*.pt
*.pth
*.h5
*.bin
*.docx
*.pdf
